.container {
    display: flex;
    direction: rtl;
    padding: 10px;
}

.btnLang {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: none;
    padding: 0px;
    cursor: pointer;
}