html,
body {
  background-color: #F2F2F4;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 1064px;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1064px) {
  main {
    width: 100%;
    margin: 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toggle-dark.react-toggle--checked .react-toggle-track {
  background-color: #4d4d4d !important;
}

.toggle_icon {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  width: 10px;
}
